service/src/main/schema/sahke2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.profium.com/sahke2"
  xmlns:tns="http://www.profium.com/sahke2"
  elementFormDefault="qualified">

    <element name="title" type="string" />
    <element name="created" type="date" />
    <element name="description" type="string" />
    <element name="calculationBaseDate" type="date" />

</schema>
